<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.log.jsq">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".JsqApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme_Default">
        <activity
            android:name=".mainUI.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".historyUI.HistoryListActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name=".aboutUI.AboutActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
        <activity
            android:name=".settingUI.SettingActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize" />
    </application>

</manifest>